{% extends 'layout.html.twig' %} {% block title %}
{{ parent() }}
Formulaire d'ajout de véhicule {% endblock %} {% block content %}
<h1>Ajouter ou modifier un véhicule</h1>
{{ form(formVehicule) }}
{% endblock %}
